@page
@model App.Qtech.Web.Areas.Admin.Pages.ChartOfAccount.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.ChartOfAccount.Name</h2>

<partial name="_AccountTreePartial" model="Model.ChartOfAccount" />


