@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if(User.Identity.IsAuthenticated)
    {
        @foreach(var module in Model.Modules)
        {
            var action = $"/{module}/Index";
            <a asp-area="Admin" asp-page="@action" class="btn btn-primary">module</a>
        }
    }
</div>
